{% extends '/Layouts/Menu.html.twig' %}

{% block css %}
    <link href="{{ asset('css/content.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block article %}
    <section class="article">
        <div class="article-list">
            <a href="{{ path('database_listeChampions')}}">
                <div class="right">
                    <div class="article-right">
                        <img src="image/penguin-logo.jpg" alt="Image Jeu">
                        <div class="texte-right">
                            <h1 class="article-title">Champions</h1>
                            <p class="article-description">Pleins d'informations incroyables sur les différents champions disponibles</p>
                        </div>
                    </div>
                </div>
            </a>
    
        </div>
        
    </section>
{% endblock %}