{% extends '/Layouts/Menu.html.twig' %}

{% block css %}
    <link href="{{ asset('css/listContent.css') }}" type="text/css" rel="stylesheet">
{% endblock %}



{% block article %}
    <section class="article">
        <div class="mainZone-list">
            
            <div class="impair">
                <div class="mainZone">
                    <h1 class="mainZoneTitle">Champions</h1>
                    <div class="sousZoneLine">
                        {% for c in champions %}
                            <a href="{{ path('database_champion', {'id_champion' : c.id})}}">
                                <div class="sousZone">
                                    <img src="{{ asset(c.image)}}" alt="image zone">
                                    <p class="sousZoneName">{{c.name}}</p>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
        </div>

    </section>
{% endblock %}